<div class="container-fluid bg-primary pt-5 pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white mb-5">{{ 'Jelentkezz'|trans }} {{ jobTitle|raw }}!</h1>
            </div>
            <div class="col-md-12">
                {{ include('frontend/jobs/embed/jobsContactForm.html.twig') }}
            </div>
        </div>
    </div>
</div>
