* {
  box-sizing: border-box;
  /*   border: 1px solid black; */
}


ul.homeList {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

a.homeList {
  flex: 1;
  display: flex;
  text-decoration: none !important;
  margin-bottom: 0;
  align-items: stretch;
  padding: 20px;
  cursor: pointer;
  transition: all .5s ease;

  &.active {
    flex: 5;
    background: #fff;
    cursor: default;

    h2 {
      color: $primary;
      background: white;
      padding: 5px;
      transition: all 1s ease;
    }

    .section-content {
      flex: 4;
      opacity: 1;
      transform: scaleX(1);
      color: $primary;
    }
  }

  .section-title {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;

    h2 {
      margin: 0;
      transform: rotate(-90deg);
      white-space: nowrap;
    }
  }

  .section-content {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all .25s .1s ease-out;
  }
}

