* {
  box-sizing: border-box;
  /*   border: 1px solid black; */
}


ul.homeList {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

a.homeList {
  flex: 1;
  display: flex;
  text-decoration: none !important;
  margin-bottom: 0;
  align-items: stretch;
  padding: 20px;
  cursor: pointer;
  transition: all .5s ease !important;

  &.active {
    flex: 5;
    background: #fff;
    cursor: default;

    h2 {
      transform: rotate(0deg) !important;
      color: #224694;
      background: #ffffff8c;
      padding: 30px;
      transition: all 0.5s ease !important;
    }

    .section-content {
      flex: 4;
      opacity: 1;
      transform: scaleX(1);
      color: $primary;
    }
  }

  .section-title {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;

    h2 {
      margin: 0;
      transform: rotate(-90deg);
      white-space: nowrap;
    }
  }

  .section-content {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all .25s .1s ease-out;
  }
}

@media (max-width: 768px) {
  .section-title > h2 {
    font-size: 1em;
  }
  .active.section-title h2 {
    font-size: 1.5em !important;
  }
  .homeList {
    display: grid !important;
  }
}

@media (min-width: 768px) {
  .active > .section-title {
    margin-top: -500px !important;
    transition: all 1s !important;
  }
}

//timeline

