<div class="bg-primary text-center text-white p-4">
    <h3 class="mb-3 mt-4" style="font-size: 3em"><span class="countup-numbers" data-num="{{ number }}">{{ number }}</span><span>{{ numberSuffix??'' }}</span>
    </h3>
    <p style="font-size: 1em">{{ description }}</p>
</div>
