<div class="bg-primary imageBoxWrapper ml-auto mr-auto">
    <img class="imageBoxImage" width="337" height="337"
         style=""
         src="{{ src }}" alt="Accounting team"/>
</div>

<style>
    .imageBoxImage {
        position: relative;
        top: 3em;
        left: 3em;
    }

    @media (max-width: 992px) {
        .imageBoxImage {
            position: relative;
            top: 1.5em;
            left: 1.5em;
            width: 250px;
        }
    }

    .imageBoxWrapper {
        position: relative;
        width: fit-content;
        height: fit-content
    }

</style>
