<div class="border-primary jobBox p-4 shadow-white-primary-border bg-white">
    <h3 class="text-medium text-center">{{ title|trans|raw }}</h3>
    <p class="mt-3">
        {{ description|trans|raw }}
    </p>
    <a href="{{ url }}" class="btn btn-primary m-auto d-table">{{ 'Érdekel'|trans }}</a>
</div>
<style>

    .jobBox {
        border: 2px solid #224694;
        height: 100%;
        display: grid;
    }
</style>
