{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>{{ 'Rólunk'|trans }}</h1>
                <h2 class="mt-5">Discover greatness beyond profession</h2>
                <p class="mt-5">
                    Budapestről indultunk, később lefedtük Magyarországot, most Európánál tartunk! A történetünk már több mint 15 éves múltra tekint vissza, az
                    akkor még néhány fős csapatunk 2005-ben találkozott első ügyfeleivel és kezdődött el tanácsadói munkánk pénzügyi területen. Az ügyfélélményt
                    szem előtt tartva láttuk, hogy a könyvelési piac itthon újításra szorul, így eltökélt célunkká vált, hogy többet adjunk egy hagyományos
                    könyvelésnél. Az Accountingnak köszönhetően érkeztek hozzánk olyan munkatársak, akik segítségével a Megújuló üzletágunk is dinamikus sikert
                    aratott és néhány év alatt itthon addig még nem látott rekordokat dönthettünk! A következő lépésként elhatároztuk, hogy a Magyarországon
                    megszerzett tapasztalatot külföldön is kamatoztassuk, így léptünk be azóta több európai országba is.
                    <br/><br/>

                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row p-5 bg-primary">
            <div class="col-md-12">
                <h1 class="text-center text-light animate__animated animate__fadeIn text-big">Mi, itt az Everestnél...</h1>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row ">
            <div class="col-md-12">
                <ul class="square">
                    <li>Nem csupán szolgáltatások és termékek értékesítésével foglalkozunk; annál sokkal többet akarunk nyújtani bármelyik ügyfelünknek. Akár
                        B2B, akár B2C, a sales folyamat nálunk inkább tanácsadásként írható le, hiszen nem csak az adott pillanatban fontos az ügyfél számunkra,
                        hanem a - közös - jövőben is.
                    </li>
                    <li>Hiszünk benne, hogy etikus hozzáállásunkkal, a kiemelkedő csapatösszetartásunkkal és naprakész munkatársainkkal az Everest több mint egy
                        hagyományos szolgáltatócég. Sőt, erre büszkék is vagyunk!
                    </li>
                    <li>
                        Fontos számunkra a csapat! Munkatársainkat és partnereinket megbecsüljük, biztosítjuk a szakmai fejlődést és nyitottak vagyunk. Minden
                        esetben a hosszútávú együttműködésre szavazunk!
                    </li>
                    <li>
                        Mindig többre vágyunk! Nem elégszünk meg pillanatnyi sikerünkkel, inkább mindig tökéletesítjük a folyamatokat, kommunikációnkat,
                        ügyfélkezelésünket.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
