{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('career') }}"><i class="fa fa-arrow-left ml-3 mr-3"></i>Back to positions</a>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>Sales manager</h1>
                <p class="mt-5">At Everest we love creating technological breakthrough and personalized solutions for our clients, no matter which division we
                    are talking about. It can be a new IT solution, environmentally friendly products, sales efficiency improvement with digital tools or sales
                    culture as a benefit system. We brainstorm a lot together and, in this way, new ideas are constantly being born.
                </p>
                <p class="mt-5"><strong>We are looking for a new sales manager to join our team of renewable energy sources.
                    </strong></p>

                <h2 class="mt-3"><u>Your tasks will be:</u></h2>

                <ul class="mt-3 square">
                    <li>Turn inbound B2C leads to clients</li>
                    <li>Turn inbound B2C leads to clients</li>
                    <li>Turn inbound B2C leads to clients</li>
                    <li>Turn inbound B2C leads to clients</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
