{% extends 'base.html.twig' %}
{% block title %}Everest adatkezelési nyilatkozat, és adatvédelmi tájékoztató {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1 class="text-medium-sm"> Everest adatkezelési nyilatkozat, és adatvédelmi tájékoztató.</h1>
            </div>
            <div class="col-md-12 mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ftco-animate fadeInUp ftco-animated">
                            <p>EVEREST ADATKEZELÉSI NYILATKOZAT ÉS ADATKEZELÉSI TÁJÉKOZTATÓ
                                <br> ( hatályos: 2015. december 30 -tól )</p>
                            <p><strong>1. Bevezető</strong>
                                <br> A <strong>portal.everest.hu</strong> – a továbbiakban : Portál – üzemeltetője, az Everest Accounting Zrt. ( Székhely: 1051
                                Budapest, Arany János u. 9. II.em 1., Cégjegyzékszám: 01 10 049949, Adószám: 265216608-2- 41, a továbbiakban: Adatkezelő ), mint
                                Adatkezelő jelen Adatvédelmi Nyilatkozat és Adatkezelési Tájékoztató ( a továbbiakban: Adatvédelmi Nyilatkozat) közzétételével
                                ismerteti az adatkezelésére vonatkozó elveit, melyeket az Adatkezelő magára nézve kötelező érvényűnek ismer el. Az Adatkezelő
                                minden tőle ésszerűen elvárható intézkedést megtesz az általa kezelt személyes adatok biztonsága érdekében. Kérjük, hogy
                                Portálunk használata előtt szíveskedjen elolvasni a jelen Adatvédelmi Nyilatkozatot, mely közérthető módon tartalmazza, miként
                                kezeljük személyes adatait! Az Adatvédelmi Nyilatkozatban az Adatkezelő egyértelműen és részletesen tájékoztatja az érintetteket
                                az adatok kezelésével kapcsolatos minden fontos tényről. Az adatkezelés megkezdése előtt Tájékoztatjuk Önöket arról, az
                                adatkezelés minden esetben az érintett hozzájárulásán alapul. A Portálon történő regisztrációjával, a Portál használatával, mint
                                Felhasználó kifejezetten hozzájárul ahhoz, hogy az Adatkezelő az Ön személyes adatait jelen Adatvédelmi Nyilatkozat keretein
                                belül, a hatályos magyar jogszabályoknak megfelelően kezelje, és a jelen dokumentumban rögzített terjedelemben, módon és
                                időtartamban felhasználja.</p>
                            <p><strong>2. Az adatkezelés nyilvántartásba vétele</strong></p>
                            <p>A Everest Accounting Zrt., mint Adatkezelő a személyes adatok kezelésének nyilvántartásba vételét kérelmezte a Nemzeti
                                Adatvédelmi és Információszabadság Hatóságnál ( a továbbiakban: NAIH, vagy Hatóság). A Hatóság az adatkezelést az alábbi
                                adatkezelési nyilvántartási számon vette nyilvántartásba: Adatkezelési nyilvántartási szám : <strong>NAIH-</strong>.</p>
                            <p><strong>3. Fogalom meghatározások</strong></p>
                            <ul>
                                <li>A Felhasználók személyes adataik kezelésének szabályait tartalmazó hatályos jogszabály: 2011. évi CXII. törvény – az
                                    információs önrendelkezési jogról és az információszabadságról (a továbbiakban: Infotv.).
                                </li>
                            </ul>
                            <p>A jelen Adatvédelmi Nyilatkozatban használt fogalmak jelentése a 2011. évi CXII. törvény 3. §-ban rögzített „Értelmező
                                rendelkezések” figyelembe vételével az alábbi:</p>
                            <ol>
                                <li>személyes adat:az érintettel kapcsolatba hozható adat – különösen az érintett neve, azonosító jele, valamint egy vagy több
                                    fizikai, fiziológiai, mentális, gazdasági, kulturális vagy szociális azonosságára jellemző ismeret -, valamint az adatból
                                    levonható, az érintettre vonatkozó következtetés
                                </li>
                                <li>érintett: bármely meghatározott, személyes adat alapján azonosított vagy – közvetlenül vagy közvetve – azonosítható
                                    természetes személy
                                </li>
                                <li>adatkezelő:az a természetes vagy jogi személy, illetve jogi személyiséggel nem rendelkező szervezet, aki, vagy amely
                                    önállóan vagy másokkal együtt az adat kezelésének célját meghatározza, az adatkezelésre (beleértve a felhasznált eszközt)
                                    vonatkozó döntéseket meghozza és végrehajtja, vagy az adatfeldolgozóval végrehajtatja
                                </li>
                                <li>adatkezelés:az alkalmazott eljárástól függetlenül az adaton végzett bármely művelet vagy a műveletek összessége, így
                                    különösen gyűjtése, felvétele, rögzítése, rendszerezése, tárolása, megváltoztatása, felhasználása, lekérdezése, továbbítása,
                                    nyilvánosságra hozatala, összehangolása vagy összekapcsolása, zárolása, törlése és megsemmisítése, valamint az adat további
                                    felhasználásának megakadályozása, fénykép-, hang- vagy képfelvétel készítése, valamint a személy azonosítására alkalmas
                                    fizikai jellemzők (pl. ujj- vagy tenyérnyomat, DNS-minta, íriszkép) rögzítése
                                </li>
                                <li>adattörlés:az adat felismerhetetlenné tétele oly módon, hogy a helyreállítása többé nem lehetséges</li>
                                <li>adatfeldolgozás:az adatkezelési műveletekhez kapcsolódó technikai feladatok elvégzése, függetlenül a műveletek
                                    végrehajtásához alkalmazott módszertől és eszköztől, valamint az alkalmazás helyétől, feltéve hogy a technikai feladatot az
                                    adaton végzik
                                </li>
                                <li>adatállomány:az egy nyilvántartásban kezelt adatok összessége</li>
                                <li>harmadik személy:olyan természetes vagy jogi személy, illetve jogi személyiséggel nem rendelkező szervezet, aki vagy amely
                                    nem azonos az érintettel, az adatkezelővel vagy az adatfeldolgozóval
                                </li>
                                <li>információs társadalommal összefüggő szolgáltatás: elektronikus úton, távollevők részére, rendszerint ellenszolgáltatás
                                    fejében nyújtott szolgáltatás, amelyhez a szolgáltatás igénybe vevője egyedileg fér hozzá
                                </li>
                                <li>elektronikus kereskedelmi szolgáltatás: olyan információs társadalommal összefüggő szolgáltatás, amelynek célja valamely
                                    birtokba vehető forgalomképes ingó dolog – ideértve a pénzt és az értékpapírt, valamint a dolog módjára hasznosítható
                                    természeti erőket -, szolgáltatás, ingatlan, vagyoni értékű jog (a továbbiakban együtt: áru) üzletszerű értékesítése,
                                    beszerzése, cseréje vagy más módon történő igénybevétele.
                                </li>
                            </ol>
                            <p><strong>4. Felhasználók köre</strong></p>
                            <p>Felhasználó a Portálon regisztrált, az Everest Accounting Zrt. szolgáltatásait igénybevevő, személyes adat alapján azonosított
                                vagy – közvetlenül vagy közvetve – azonosítható természetes személy.</p>
                            <p><strong>5. A kezelt személyes adatok köre</strong></p>
                            <p>Az Adatkezelő által kezelt személyes adatok körét képezik az alábbiak:</p>
                            <ul class="square">
                                <li>Név (Vezetéknév, Keresztnév, Cég neve)</li>
                                <li>Cég adatai (adószám, cégjegyzékszám, cím, cég leírás)</li>
                                <li>Cég könyvelésének adatai</li>
                                <li>Pénzügyi szerződések adatai és jellemzői</li>
                                <li>Ügyféllel készült auditálási nyomtatványok</li>
                                <li>Telefonszám</li>
                                <li>E- mail cím</li>
                            </ul>
                            <p>Az Adatkezelő a kezelt személyes adatok valódiságáért felelősséget nem vállal! A szolgáltatott személyes adatokért a felelősség
                                kizárólag a Felhasználót terheli.</p>
                            <p><strong>6. Hírlevél</strong></p>
                            <p>Természetes személynek, mint a hírlevelünk címzettjének elektronikus levelezés vagy azzal egyenértékű más egyéni kommunikációs
                                eszköz útján hírlevelet kizárólag akkor küldünk, ha ahhoz a hírlevél címzettje előzetesen egyértelműen és kifejezetten
                                hozzájárult, a hírlevélre feliratkozott.</p>
                            <p>A kezelt adatok köre: A hírlevélre önkéntesen, kifejezett hozzájárulása alapján feliratkozott Felhasználó alábbi adatait kezeli
                                az Adatkezelő: Név (Vezetéknév, Keresztnév, Cég neve, Cégének adatai), E- mail cím, telefonszám.</p>
                            <p>A felhasználás célja: Marketing tartalmú elektronikus levél küldése ( hírlevél ) elektronikus úton a hírlevélre önkéntesen,
                                kifejezett hozzájárulás alapján feliratkozott Felhasználók részére; a Felhasználók tájékoztatása aktualitásokról, ajánlatokról,
                                marketing célú akciókról.</p>
                            <p>Az adatkezelés időtartama: Az Adatkezelő a hírlevélre önkéntesen feliratkozó felhasználó fent nevesített személyes adatait a
                                felhasználó hozzájárulásának visszavonásáig kezeli, ennek hiányában az adatok felvételétől számított 10 évig.</p>
                            <p>Visszavonó nyilatkozat: Tájékoztatjuk Önöket arról, hogy a hozzájáruló nyilatkozat bármikor korlátozás és indokolás nélkül,
                                ingyenesen visszavonható. Ebben az esetben a nyilatkozó nevét és minden egyéb személyes adatát töröljük, és részére hírlevelet a
                                továbbiakban nem küldünk.</p>
                            <p>A visszavonó nyilatkozat megtételére elektronikus levél útján lehetőséget biztosítunk úgy, hogy a nyilatkozatot tevő személy
                                egyértelműen azonosítható legyen.</p>
                            <p>Felhasználó hozzájárulását bármikor, ingyenesen, írásban az alábbi módokon vonhatja vissza:</p>
                            <ul class="square">
                                <li>E-mailben: info@everest.hu</li>
                            </ul>
                            <p>Az Adatkezelő a hírlevélre önkéntesen, kifejezett hozzájárulás alapján feliratkozott Felhasználók személyes adatairól
                                nyilvántartást vezet. Az ebben a nyilvántartásban rögzített – a reklám címzettjére vonatkozó – adat csak a hozzájáruló
                                nyilatkozatban foglaltaknak megfelelően, annak visszavonásáig kezelhető, és harmadik fél számára kizárólag az érintett személy
                                előzetes hozzájárulásával adható át.</p>
                            <p>Az Adatkezelő az általa rögzített személyes adatokat csak a hozzájáruló nyilatkozatban foglaltaknak megfelelően kezeli és
                                harmadik fél számára kizárólag az érintett személy előzetes hozzájárulásával adhatja át.</p>
                            <p><strong>7. A személyes adatok kezelésének célja és jogalapja</strong></p>
                            <p>Adatkezelési célok:</p>
                            <p>Az adatok kezelésének célja az Adatkezelő által nyújtott szolgáltatások Felhasználók általi igénybevételének, és az Adatkezelő
                                általi teljesítésének lehetővé tétele, a szolgáltatási teljesítés nyomon követése, a Felhasználó azonosítása, valamint annak
                                lehetővé tétele, hogy a Felhasználó a szolgáltatásról tájékoztatást kapjon.</p>
                            <p>A Portál szolgáltatásainak igénybevétele regisztrációhoz, illetőleg személyes adatok megadásához kötött. A szolgáltatás
                                igénybevételével és a Portálon történő regisztrációval a Felhasználó kifejezetten hozzájárul, hogy az Adatkezelő személyes
                                adatait kezelje. Személyes adatait a Felhasználó önkéntesen, jelen Adatkezelési Nyilatkozat ismeretében bocsájtja az Adatkezelő
                                rendelkezésére.</p>
                            <p>Az Adatkezelés jogalapja és módja:</p>
                            <p>A Portálon történő regisztráció során, valamint a szolgáltatás igénybevétele folytán történő személyes adatok rögzítése és
                                kezelése a Felhasználó önkéntes hozzájárulásán alapul.</p>
                            <p>Ezen hozzájárulást a Felhasználó az Everest Accounting Zrt.-vel kötött szerződése alapján adja meg.</p>
                            <p>A Felhasználó, ha szolgáltatás igénybevétele során harmadik, természetes személy személyes adatait teszi hozzáférhetővé, szavatol
                                azért, hogy a hozzáférhetővé tett személyes adatok kezeléséhez az érintett hozzájárulását jogszerűen beszerezte.</p>
                            <p>Felhasználó tudomásul veszi, hogy az Adatkezelő a felvett adatokat törvény eltérő rendelkezése hiányában a rá vonatkozó jogi
                                kötelezettség teljesítése céljából, vagy az Adatkezelő, vagy harmadik személy jogos érdekének érvényesítése céljából – ha ezen
                                érdek érvényesítése a személyes adatok védelméhez fűződő jog korlátozásával arányban áll – további külön hozzájárulás nélkül,
                                valamint az érintett hozzájárulásának visszavonását követően is kezelheti.</p>
                            <div style="display: none !important;"></div>
                            <p><strong>8. Az adatkezelésre és az adatfeldolgozásra jogosult személy</strong></p>
                            <p>A személyes adatok kezelésére és feldolgozására jogosult személy az Everest Accounting Zrt. ( Székhely: 1051 Budapest, Arany
                                János u. 9., Cégjegyzékszám: 01 10 049949, Adószám: 26516608-2- 41, a továbbiakban: Adatkezelő ), mint Adatkezelő. A
                                feldolgozásra kerülő személyes adatokat az Adatkezelő mindenkori törvényes képviselője(i), alkalmazottai/
                                megbízottai/közreműködői ismerhetik meg. Az adatkezelő személyes adatot harmadik személyek részére nem ad át, kizárólag abban az
                                esetben, ha az érintett ehhez kifejezetten hozzájárul.</p>
                            <p><strong>9. Az Adatkezelés időtartama </strong></p>
                            <p>A Felhasználó hozzájárulása alapján megadott személyes adatokat az Adatkezelő az adatkezelés céljának megvalósulásáig, illetőleg
                                a Felhasználó hozzájárulása visszavonásáig kezeli. Az Adatkezelő a Felhasználó regisztrációja során megadott személyes adatait a
                                Portál igénybevételének megszűnéséig, így különösen a regisztráció törléséig kezeli.</p>
                            <p>Az Adatkezelő a felvett személyes adatokat törvény eltérő rendelkezésének hiányában a) a rá vonatkozó jogi kötelezettség
                                teljesítése céljából, vagy b) az adatkezelő vagy harmadik személy jogos érdekének érvényesítése céljából, ha ezen érdek
                                érvényesítése a személyes adatok védelméhez fűződő jog korlátozásával arányban áll további külön hozzájárulás nélkül, valamint
                                az érintett hozzájárulásának visszavonását követően is kezelheti. / 2011. évi CXII. törvény 6. § ( 5) / Az Adatkezelő a
                                Felhasználó által megadott személyes adatokat a számviteli kötelezettségek teljesítése érdekében a 2000. évi C. törvény 169.§-a
                                alapján 8 évig, illetve az adózás rendjéről szóló 2003. évi XCII. törvényben meghatározott elévülési időn belül őrzi meg és
                                kezeli.</p>
                            <p><strong>10. Adattovábbítás, adatok összekapcsolása</strong></p>
                            <p>Az Adatkezelő nem ad el, nem ad bérbe és semmilyen formában nem bocsájt rendelkezésére a Felhasználóra vonatkozó személyes
                                adatokat illetve információkat más cégnek, magánszemélynek, kivéve a számviteli kötelezettség teljesítéséhez szükséges
                                adatszolgáltatást.</p>
                            <p>Az Adatkezelő a tőle elvárható módon gondoskodik az adatok megfelelő biztonságáról, és megteszi azokat a technikai és szervezési
                                intézkedéseket, melyek az adatvédelmi szabályok és elvek érvényre juttatását garantálják és a személyes adatok biztonságát
                                elősegítik.</p>
                            <p>Tájékoztatjuk a Tisztelt Felhasználókat arról, hogy az Adatkezelő személyes adatot kizárólag az érintett hozzájárulásával
                                továbbít harmadik személynek vagy személyeknek.</p>
                            <p>Az Adatkezelő a továbbított adatokról adattovábbítási nyilvántartást vezet, mely tartalmazza a társaság valamennyi
                                adattovábbítását.</p>
                            <p>Az Adatkezelő az adattovábbítás jogszerűségének ellenőrzése, valamint az érintett tájékoztatása céljából adattovábbítási
                                nyilvántartást vezet, amely tartalmazza az általa kezelt személyes adatok továbbításának időpontját, az adattovábbítás
                                jogalapját és címzettjét, a továbbított személyes adatok körének meghatározását, valamint az adatkezelést előíró jogszabályban
                                meghatározott egyéb adatokat.</p>
                            <p><strong>11. „Cookie”-k </strong></p>
                            <p>Portálunk a Felhasználó egyénre szabott kiszolgálása, és a kényelmi funkciók érdekében „cookie”-kat használhat. „Cookie”-k
                                használata esetén ennek keretében a Weblapra történő látogatásakor a látogatás időpontja, a Felhasználó böngészőjének adatai, IP
                                címe valamint a használt operációs rendszer és a nyelvi beállítások naplózásra kerülnek. Ezen adatokat az Adatkezelő nem
                                kapcsolja össze más személyes adatokkal, kizárólag statisztikai kimutatások célját szolgálják.</p>
                            <p><strong>12. Felhasználók személyes adatok kezelésével kapcsolatos jogaik, jogérvényesítési és jogorvoslati lehetőségek</strong>
                            </p>
                            <p>A Felhasználónak lehetősége van az Adatkezelőnél személyes adatai kezeléséről tájékoztatást kérnie, ezen kívül a Felhasználó
                                kérheti személyes adatainak helyesbítését, valamint személyes adatainak törlését, vagy zárolását.</p>
                            <p>A Felhasználó bármikor jogosult írásban, az Adatkezelő által a jelen Adatvédelmi Nyilatkozatban megjelölt elérhetőségein
                                tájékoztatást kérni az Adatkezelő által kezelt, reá vonatkozó személyes adatokról, valamint ugyanígy bármikor kérelmezheti azok
                                módosítását. Az Adatkezelő a kérelem benyújtásától számított legfeljebb 30 napon belül adja meg a kért tájékoztatást.</p>
                            <p>Amennyiben a Felhasználó írásban kérelmezi, az Adatkezelő tájékoztatást nyújt részére a Felhasználó Adatkezelő által kezelt,
                                illetve – ha van ilyen- az általa vagy rendelkezése szerint megbízott adatfeldolgozó által feldolgozott adatairól.</p>
                            <p>Az Adatkezelő ezen kívül, ilyen irányú kérelem alapján írásban tájékoztatást nyújt az általa kezelt személyes adatok forrásáról,
                                az adatkezelés céljáról, jogalapjáról, időtartamáról, az adatfeldolgozó nevéről, címéről és az adatkezeléssel összefüggő
                                tevékenységéről, az adatvédelmi incidens körülményeiről, hatásairól és az elhárítására megtett intézkedésekről, továbbá – az
                                érintett személyes adatainak továbbítása esetén – az adattovábbítás jogalapjáról és címzettjéről.</p>
                            <p>Felhívjuk szíves figyelmüket arra, hogy postai úton érkező kérelem esetén az Adatkezelőnek abban az esetben nyílik rá módja, hogy
                                a postai úton érkező levelekre, írásban, postai úton megküldje válaszát a Felhasználó részére, ha a Felhasználó a válaszadás
                                céljából postacímét kérelmén feltünteti.</p>
                            <p>A (4) bekezdésben foglalt tájékoztatás ingyenes, ha a tájékoztatást kérő a folyó évben azonos adatkörre vonatkozóan tájékoztatási
                                kérelmet az adatkezelőhöz még nem nyújtott be. Egyéb esetekben költségtérítés állapítható meg. A költségtérítés mértékét a felek
                                között létrejött szerződés is rögzítheti. A már megfizetett költségtérítést vissza kell téríteni, ha az adatokat jogellenesen
                                kezelték, vagy a tájékoztatás kérése helyesbítéshez vezetett.</p>
                            <p>Felhasználó jogosult továbbá adatai törlésének kérésére, az Adatkezelőhöz címzett írásbeli megkereséssel, az Adatkezelő
                                lentiekben megadott elérhetőségein.</p>
                            <p>Felhasználó az alábbi elérhetőségeken jogosult a tájékoztatást, módosítást, vagy törlést kérelmezni:</p>
                            <ul>
                                <li>Postai levelezési cím: Everest Accounting Zrt. 1051 Budapest, Arany János u. 9.</li>
                                <li>E-mail cím: info@everest.hu</li>
                            </ul>
                            <p>A Felhasználó bármikor jogosult a helytelen, megváltozott vagy hibásan rögzített adatainak kijavítását, vagy azok törlését kérni.
                                Az Adatkezelő a kérelem beérkezését követően ésszerű időn belül, de legkésőbb a kérelem beérkezésétől számított 30 napon belül
                                törli, illetve módosítja a Felhasználó által megjelölt adatokat.</p>
                            <p>Tájékoztatjuk Önöket arról, hogy a törlés nem vonatkozik a jogszabály (pl. számviteli szabályozás) alapján szükséges
                                adatkezelésekre, azokat az Adatkezelő a törvényben rögzített szükséges időtartamig köteles megőrizni.</p>
                            <p>Törlés helyett az adatkezelő zárolja a személyes adatot, ha az érintett ezt kéri, vagy ha a rendelkezésére álló információk
                                alapján feltételezhető, hogy a törlés sértené az érintett jogos érdekeit. Az így zárolt személyes adat kizárólag addig
                                kezelhető, ameddig fennáll az az adatkezelési cél, amely a személyes adat törlését kizárta.</p>
                            <p>Amennyiben a Felhasználó úgy érzi, a személyes adatok kezelésével kapcsolatos jogainak esetlegesen sérültek, kérjük, jelezze
                                nekünk írásban az Adatkezelő fentiekben megadott elérhetőségein!</p>
                            <p>A Felhasználó a személyes adatok kezelésével kapcsolatos jogsérelem esetén az információs önrendelkezési jogról és az
                                információszabadságról szóló 2011. évi CXII. törvény alapján a Nemzeti Adatvédelmi és Információszabadság Hatósághoz (NAIH) (A
                                Hatóság címe: 1125 Budapest, Szilágyi Erzsébet fasor 22/C, Levelezési cím: 1530 Budapest, Postafiók: 5.) fordulhat, végső soron
                                bíróság előtt érvényesítheti jogait. A perre a törvényszék rendelkezik hatáskörrel.</p>
                            <p><strong>14. Jogszabályoknak való megfelelés</strong></p>
                            <p>A jelen Adatvédelmi Nyilatkozat elkészítése során, valamint a Felhasználók személyes adatainak kezelésekor az Adatkezelő a
                                mindenkor hatályos magyar jogszabályok maradéktalan betartásával, és a vonatkozó uniós normák figyelembevételével jár el.</p>
                            <p>Az Adatkezelő különösen az alábbi jogszabályokban előírtakat tartja szem előtt az adatkezelés során:</p>
                            <ul class="square">
                                <li>évi CXII. törvény – az információs önrendelkezési jogról és az információszabadságról (a továbbiakban: Infotv.)</li>
                                <li>évi CVIII. törvény – az elektronikus kereskedelmi szolgáltatások, valamint az információs társadalommal összefüggő
                                    szolgáltatások egyes kérdéseiről (főképp a 13/A. §-a)
                                </li>
                                <li>évi XLVII. törvény – a fogyasztókkal szembeni tisztességtelen kereskedelmi gyakorlat tilalmáról;</li>
                                <li>évi XLVIII. törvény – a gazdasági reklámtevékenység alapvető feltételeiről és egyes korlátairól (különösen a 6.§-a)</li>
                                <li>évi XC. törvény az elektronikus információszabadságról</li>
                                <li>évi C. törvény az elektronikus hírközlésről (kifejezetten a 155.§-a)</li>
                                <li>16/2011. sz. vélemény a viselkedésalapú online reklám bevált gyakorlatára vonatkozó EASA/IAB-ajánlásról</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


